body {
    background: rgb(245, 245, 245);
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width:100%;
}

#clock {
    font-size: 2rem;
    font-weight: 600;
}

.content {
    margin:100px auto 0 auto;
    width:600px;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    padding:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size:3rem;
    font-weight: 700;
    text-align: center;
}

.zadanie {
    width:300px;
    border-radius: 20px;
    padding:10px;
    background-color: rgb(255, 255, 255);
    margin: 25px 0;
}

input {
    min-height: 30px;
    word-wrap: break-word;
    border:none;
}

.btn {
    background-color: rgb(255, 255, 255);
    border:none;
}

.btn:hover {
    background-color: aliceblue;
}

input:focus {
    border:2px solid rgb(182, 182, 182);
}

.list-of-task {
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    width:500px;
    border-radius: 25px;
    border:1px solid rgb(207, 207, 207);
}

.task {
    padding:20px;
    font-size:1.3rem;
    border-radius: 25px;
    width:calc(100% - 200px);
    margin:10px auto 10px auto;
    font-weight: 600;
    border:3px dashed rgb(20, 20, 19);
}